# Data source
DATA_URL=
TARGET_NAME=All Fatal and Injury Collisions
ALLOW_MISSING_MONTHS=false

# MLflow
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=road-collision-forecasting
MODEL_NAME=road_collision_forecaster
REGISTER_MODEL=false

# Flask
PORT=5000
MODEL_DIR=model

# Deployment
API_BASE_URL=http://YOUR_VM_EXTERNAL_IP:5000
IMAGE_NAME=ghcr.io/YOUR_GITHUB_USERNAME/YOUR_REPO:latest
